:root {
  --brand-color: ;
  --primay-text-color: ;
  --second-text-color: ;
  --third-text-color: ;
  --title-text-color: ;
  --btn-menu-color: ;
  --bg-color-primary: ;
  --bg-color-second: ;
  --bg-color-third: ;
  --primary-font: ;
  // --second-font: "Raleway";
  --indent: 16px;
}
