.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 768px) and (min-height: 570px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1280px) and (min-height: 420px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  body.show-modal & {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.modal {
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  min-height: 320px;

  background-color: #f7f7f7;
  color: #545454;
  text-align: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);

  body.show-modal & {
    transform: scale(1);
  }

  @media screen and (max-width: 768px - 1px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1280px - 1px) {
    // max-width: 618px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    max-width: 882px;
  }
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -5px;
}

.team-member {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    width: calc(100% / 2 - 10px);
  }

  @media screen and (min-width: 500px) and (max-width: 1199px) {
    width: calc(100% / 3 - 10px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 10px);
  }

  & p {
    margin-bottom: 10px;
  }
}

.team-member-link {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: linear-gradient(45deg, #000000, #f7f7f7);
  cursor: pointer;

  animation-name: fire;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  @keyframes fire {
    25% {
      box-shadow: 0px 0px 10px 0px #ff6b08;
    }
    50% {
      box-shadow: 0px 0px 15px 0px red;
    }
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &::after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
    background-image: url('../images/SVG/github.svg');
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
  }
}

.team-title {
  margin-bottom: 20px;
  color: #f46e44;
}

.team-member-role {
  color: red;
}

.team-member-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.team-button-close {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  background-color: rgba(255, 107, 8, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/SVG/close.svg');

  transform: scale(1);

  &:hover {
    background-color: rgba(255, 107, 8, 0.8);
    transform: scale(1.05);
  }

  &:focus {
    background-color: rgba(255, 107, 8, 0.8);
    transform: scale(1);
  }
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
