p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;

  .image-footer {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heart {
    animation: heartbeat 1s infinite;
    user-select: none;
  }

  .footer-page {
    text-align: center;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

footer {
  background-color: rgb(247, 247, 247);
}

.credits {
  padding-top: 10px;
  padding-bottom: 30px;
}
.copyright {
  padding-top: 29px;
}
.credits-text {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .copyright {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 10px;
  }

  .credits {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .footer-page {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .footer-page {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
  }

  .copyright {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  .credits {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-link:hover,
.footer-link:focus {
  color: #ff001b;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  text-decoration: underline;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
