.gallery__image {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  display: block;

  @include mq(mobile) {
    width: 440px;
    height: 600px;
  }

  @include mq(tablet) {
    width: 336px;
    height: 455px;
  }

  @include mq(desktop) {
    width: 393px;
    height: 574px;
  }
}

.gallery__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include mq(desktop) {
    flex-direction: row;
    gap: 16px;
  }
}

.gallery__item {
  @include mq(mobile) {
    width: 440px;
  }

  @include mq(tablet) {
    width: 336px;
  }

  @include mq(desktop) {
    width: 393px;
  }
}

.gallery__film-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: black;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 24px;
  }
}

.gallery__film-genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgb(255, 107, 8);
}

.gsection {
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 100vh;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
