.gallery__image {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    @include mq(mobile) {
        width: 440px;
        height: 600px;
    }
    @include mq(tablet) {
        width: 336px;
        height: 455px;
    }
    @include mq(desktop) {
        width: 393px;
        height: 574px;
    }
}

.gallery__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    @include mq(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    @include mq(desktop) {
        flex-direction: row;
        gap: 16px;
    }
}

.gallery__item {
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mq(mobile) {
        width: 440px;
    }
    @include mq(tablet) {
        width: 336px;
    }
    @include mq(desktop) {
        width: 393px;
    }
    &:hover {
        transform: scale(1.03);
        box-shadow: -10px 15px 155px 15px #818181;
        cursor: pointer;
    }
}

.gallery__wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.gallery__film-title {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: black;
    @include mq(desktop) {
        font-size: 20px;
        line-height: 24px;
    }
}

.gallery__film-genres {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 107, 8);
    @include mq(desktop) {
        font-size: 20px;
        line-height: 24px;
    }
}

.gsection {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 216px - 112px);
    @include mq(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: calc(100vh - 216px - 77px);
    }
}

.gallery__container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 100vh;
    @include mq(mobile) {
        width: 480px;
    }
    @include mq(tablet) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include mq(desktop) {
        width: 1280px;
        padding-left: 32px;
        padding-right: 32px;
    }
}