$header-gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
// effects
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
// colors
$white: #ffffff;
$accent: #ff6b08;
$active: #ff001b;
.header-library {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40 0 62;
    box-shadow: $shadow;
    background-image: $header-gradient, url(../images/Mobile/header-library-mobile.jpeg);
    @include mq(retina) {
        background-image: $header-gradient, url(../images/Mobile/retina/header-library-mobile@2x.jpeg);
    }
    @include mq(tablet) {
        padding: 40 0 60;
        background-image: $header-gradient, url(../images/Tablet/header-library-tablet.jpeg);
        @include mq(retina) {
            background-image: $header-gradient, url(../images/Tablet/retina/header-library-tablet@2x.jpeg);
        }
    }
    @include mq(tablet) {
        background-image: $header-gradient, url(../images/Desktop/header-library-desktop.jpeg);
        @include mq(retina) {
            background-image: $header-gradient, url(../images/Desktop/retina/header-library-desktop@2x.jpeg);
        }
    }
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
    @include mq(tablet) {
        margin-bottom: 40px;
    }
}

.header__link {
    display: flex;
    align-items: center;
}

.header__logo {
    fill: transparent;
}

.header-home__title {
    display: none;
    color: $white;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    margin-left: 8px;
    @include mq(tablet) {
        display: inline-block;
        margin-left: 10px;
    }
}

.nav {
    margin-left: auto;
    &__link {
        color: $white;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-right: 39px;
        @include mq(tablet-only) {
            margin-right: 40px;
        }
    }
    .active::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: $active;
    }
}

.library-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .btn {
        display: inline-block;
        min-width: 130px;
        padding-top: 14px;
        padding-bottom: 12px;
        border-radius: 5px;
        background-color: transparent;
        color: $white;
        transition: background-color $transition;
        &:hover,
        &:focus {
            color: $accent;
        }
        &:not(:last-child) {
            margin-right: 15px;
        }
        // &--active{
        // }
        // &--clear{
        // }
    }
}