$header-gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
// effects
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$transition: 700ms cubic-bezier(0.4, 0, 0.2, 1);
// colors
$white: #ffffff;
$accent: #ff6b08;
$active: #ff001b;
.logo {
  position: absolute;
  top: 46px;
  text-decoration: none;
  color: #818181;
  cursor: pointer;
}

.logo-icon {
  @include mq(tablet) {
    margin-right: 10px;
  }
}

.logo-icon {
  width: 24px;
  height: 24px;
  animation: tada;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  stroke: $white;
  &:hover,
  &:focus {
    stroke: #ff0019aa;
    animation-play-state: paused;
  }
}

.logo-title {
  display: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;

  @include mq(tablet) {
    display: inline-block;
  }
}

.site-nav {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.site-nav__item {
  &:first-child {
    margin-right: 40px;
  }
}

.site-nav__link {
  text-decoration: none;
  color: inherit;
}

.header__navlink--active {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff001b;
  }
}

.header-background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $shadow;
  background-image: $header-gradient,
    url(../images/Mobile/abstract-background-with-red-lines\ 1.jpg);
  @include mq(retina) {
    background-image: $header-gradient,
      url(../images/Mobile/retina/abstract-background-with-red-lines\ 1@2x.png);
  }
  @include mq(tablet) {
    background-image: $header-gradient,
      url(../images/Tablet/abstract-background-with-red-lines\ 1.jpg);
    @include mq(retina) {
      background-image: $header-gradient,
        url(../images/Tablet/retina/abstract-background-with-red-lines\ 1@2x.jpg);
    }
  }
  @include mq(desktop) {
    background-image: $header-gradient,
      url(../images/Desktop/abstract-background-with-red-lines\ 1.jpg);
    @include mq(retina) {
      background-image: $header-gradient,
        url(../images/Desktop/retina/abstract-background-with-red-lines\ 1@2x.jpg);
    }
  }
}

.search {
  display: inline-block;
  margin: 0 auto;
}

.search-input {
  width: 280px;
  font-size: 14px;
  line-height: 1.14;
  position: relative;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  transition: border-bottom, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: #ffffff;
    transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::placeholder {
    color: #ffffff;
    transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid #ff001b;
    &::placeholder {
      color: #ff001b;
    }
  }

  @include mq(tablet) {
    width: 336px;
  }

  @include mq(desktop) {
    width: 394px;
  }
}

#search {
  position: relative;
}

.search-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2px;
  @media screen and (min-width: 768px) {
    right: 0px;
  }
  @media screen and (min-width: 1280px) {
    right: 0px;
    bottom: 3px;
  }
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: #ffffff;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  .search-input:focus ~ & {
    color: #ff001b;
  }
}

.header-warning {
  z-index: 200;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
  height: 216px;
}

.header__container {
  padding: 0px 32px 0px 32px;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
  @include mq(tablet) {
    align-items: baseline;
  }
}

.header__logo {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.header__navlist {
  display: flex;
  gap: 39px;
}

.header__navlink {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}
