.logo {
  position: absolute;
  top: 46px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  text-decoration: none;
  color: #818181;
  cursor: pointer;
}

.logo-icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.logo-title {
  @media screen and (min-width: (768px - 1)) {
    display: none;
  }
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
}

.site-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.site-nav__item {
  &:first-child {
    margin-right: 40px;
  }
}

.site-nav__link {
  text-decoration: none;
  color: inherit;
}

.site-nav__link--current {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ff001b;
  }
}

.header-section {
  padding-top: 58px;
}

.header-background {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/Mobile/abstract-background-with-red-lines\ 1.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: (768px - 1)) and (min-device-pixel-ratio: 2),
    screen and (max-width: (768px - 1)) and (min-resolution: 192dpi),
    screen and (max-width: (768px - 1)) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/Mobile/retina/abstract-background-with-red-lines\ 1@2x.png);
  }
  @media screen and (min-width: 768px) {
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/Tablet/abstract-background-with-red-lines\ 1.jpg);
    @media screen and (max-width: ( 1280px - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ( 1280px - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ( 1280px - 1)) and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(/src/images/Tablet/retina/abstract-background-with-red-lines\ 1@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/Desktop/abstract-background-with-red-lines\ 1.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(/src/images/Desktop/retina/abstract-background-with-red-lines\ 1@2x.jpg);
    }
  }
}

.search {
  position: relative;
  text-align: center;
}

.search-input {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  transition: border-bottom, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: #ffffff;
    transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid #ff001b;
    &::placeholder {
      color: #ff001b;
    }
  }
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (min-width: 768px) {
    right: 185px;
  }
  @media screen and (min-width: 1280px) {
    right: 310px;
  }
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: #ffffff;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  .search-input:focus ~ & {
    color: #ff001b;
  }
}

.header-warning {
  position: absolute;
  top: 155px;
  font-size: 14px;
  line-height: 1.14;
  @media screen and (max-width: (768px - 1)) {
    max-width: (480px - 40);
  }
  @media screen and (min-width: 768px) {
    width: (768px - 152);
    text-align: center;
  }
  @media screen and (min-width: 1280px) {
    width: (1280px - 142);
    text-align: center;
  }
  color: #ff001b;
}
