.body-fixed {
  overflow: hidden;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  pointer-events: initial;
  overflow-y: auto;

  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &.is-hidden {
    transform: scale(3);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  font-family: 'Roboto';
  font-style: normal;
  text-align: left;
  position: absolute;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;

  @include mq(tablet) {
    display: flex;
    width: 704px;
    padding-top: 40px;
    padding-left: 36px;
    padding-bottom: 40px;
  }
  @include mq(desktop) {
    width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.is-hidden {
  transform: scale(3);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__image {
  border-radius: 5px;
  overflow: hidden;
  @include mq(tablet) {
    width: 264px;
    height: auto;
    flex-shrink: 0;
    margin-right: 70px;
  }
  @include mq(desktop) {
    width: 375px;
    margin-right: 16px;
  }
}

.modal__image img {
  // max-width: 240px;
  @include mq(tablet) {
    width: 100%;
    margin-right: 68px;
  }
  @include mq(desktop) {
    margin-right: 16px;
  }
}

.modal__button-close {
  padding: 0;
  position: absolute;
  top: 8;
  right: 8;
  width: 30px;
  height: 30px;
  background-image: url(/src/images/SVG/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-icon {
  fill: #000000;
}

.modal-info {
  @include mq(tablet) {
    margin-top: 0;
    width: 264px;
  }
  @include mq(desktop) {
    margin-top: 0;
    width: 391px;
  }
}

.modal__title {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  @include mq(desktop) {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
  }
}
.modale_table {
  margin-top: 20px;
  max-width: 240px;
  @include mq(tablet) {
    max-width: 264px;
  }
}

.modale__table-name {
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  width: 152px;
}

.vote {
  width: 36px;
  height: 16px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
}
.modale__table-about {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.modal__about-title {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
}

.modal__about-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-top: 8px;
}
.buttons {
  display: inline-flex;
  justify-content: baseline;
  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 40px;
  }
  @include mq(desktop) {
    margin-top: 20px;
  }
}

.modal__button-watched,
.modal__button-queue {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding-top: auto;
  padding-left: auto;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  &:hover {
    background-color: #ff6b01;
    border: none;
    color: #ffffff;
  }
  @include mq(tablet) {
    width: 124px;
  }
  @include mq(desktop) {
    width: 136px;
  }
}

.modal__button-watched {
  margin-right: 20px;
  @include mq(tablet) {
    margin-right: 15px;
  }
  @include mq(desktop) {
    margin-right: 15px;
  }
}

.modal__button-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  padding: auto;
  justify-content: center;
}

.accent {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
}
